USE [master]
GO
/****** Object:  Database [projectDB]    Script Date: 5/22/2023 12:28:18 AM ******/
CREATE DATABASE [projectDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'projectDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\projectDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'projectDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\projectDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [projectDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [projectDB]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 5/22/2023 12:28:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[adminId] [int] IDENTITY(1,1) NOT NULL,
	[fName] [varchar](100) NOT NULL,
	[lName] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password] [varchar](30) NOT NULL,
	[phone] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[adminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 5/22/2023 12:28:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fName] [varchar](100) NOT NULL,
	[lName] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password] [varchar](30) NOT NULL,
	[phone] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seat]    Script Date: 5/22/2023 12:28:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seat](
	[SeatNo] [int] NOT NULL,
	[TrainID] [int] NOT NULL,
	[SeatType] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[SeatNo] ASC,
	[TrainID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Train]    Script Date: 5/22/2023 12:28:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Train](
	[TrainID] [int] NOT NULL,
	[Model] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[TrainID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trip]    Script Date: 5/22/2023 12:28:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trip](
	[TripID] [int] IDENTITY(1,1) NOT NULL,
	[Source] [varchar](1) NOT NULL,
	[Destination] [varchar](1) NOT NULL,
	[TripDate] [datetime] NOT NULL,
	[Train] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TripID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([adminId], [fName], [lName], [email], [password], [phone]) VALUES (1, N'Alaa', N'Jordan', N'AlaaJordan@gmail.com', N'123', N'01149220558')
INSERT [dbo].[Admin] ([adminId], [fName], [lName], [email], [password], [phone]) VALUES (2, N'Ahmed', N'Ali', N'ahmadhero11811@gmail.com', N'111', N'01149200283')
INSERT [dbo].[Admin] ([adminId], [fName], [lName], [email], [password], [phone]) VALUES (3, N'Ahmed', N'Mohamed', N'ahmad@gmail.com', N'111', N'111')
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([id], [fName], [lName], [email], [password], [phone]) VALUES (1, N'Alan', N'Samir', N'hakoun123@gmail.com', N'123', N'332123')
INSERT [dbo].[Customer] ([id], [fName], [lName], [email], [password], [phone]) VALUES (2, N'asd', N'asd', N'asd', N'asd', N'asd')
INSERT [dbo].[Customer] ([id], [fName], [lName], [email], [password], [phone]) VALUES (3, N'3', N'3', N'3', N'3', N'3')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
INSERT [dbo].[Seat] ([SeatNo], [TrainID], [SeatType]) VALUES (1, 2, N'2xc')
INSERT [dbo].[Seat] ([SeatNo], [TrainID], [SeatType]) VALUES (1, 225, N'55d')
INSERT [dbo].[Seat] ([SeatNo], [TrainID], [SeatType]) VALUES (1, 9999, N'55')
GO
INSERT [dbo].[Train] ([TrainID], [Model]) VALUES (2, N'dd')
INSERT [dbo].[Train] ([TrainID], [Model]) VALUES (123, N'asdcasd')
INSERT [dbo].[Train] ([TrainID], [Model]) VALUES (225, N'blobo2o 2 bo2o')
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD FOREIGN KEY([TrainID])
REFERENCES [dbo].[Train] ([TrainID])
GO
ALTER TABLE [dbo].[Trip]  WITH CHECK ADD FOREIGN KEY([Train])
REFERENCES [dbo].[Train] ([TrainID])
GO
USE [master]
GO
